.hide-form-sidebar {
	.form-sidebar {
		display: none !important;
	}
}

body[data-route=""] .main-menu,
body[data-route="desk"] .main-menu {
	@extend .hide-form-sidebar;
}

body[data-route^="List"] .main-menu {
	.list-sidebar {
		display: block !important;
	}

	@extend .hide-form-sidebar;
}

body[data-route^="Module"] .main-menu {
	.module-sidebar {
		display: block !important;
	}

	@extend .hide-form-sidebar;
}

body {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
}

.main-section {
	width: 100%;
	height: 100vh;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: visible;
	scrollbar-gutter: stable;
}
