.navbar {
	height: $navbar-height;
	background: var(--navbar-bg);
	border-bottom: 1px solid var(--border-color);
	padding: 0;
	.navbar-brand {
		margin-right: 15px;
	}

	@include media-breakpoint-up(md) {
		.navbar-brand {
			// not shown for full screen
			display: none;
		}
	}

	.navbar-nav {
		.dropdown-item {
			padding: 6px 8px !important;
		}

		.nav-link {
			padding: 0;
		}
	}
	.container {
		padding: 0 1rem;
	}
	.vertical-bar {
		border-right: 1px solid var(--dark-border-color);
		height: 24px;
		margin: auto;
		margin-left: var(--margin-md);
	}
	.nav-item {
		margin: auto;
		margin-left: var(--margin-md);
		@include get_textstyle("sm", "regular");
		line-height: 1rem;
	}
}

.navbar-home {
	img {
		height: 32px;
		width: 32px;
	}
}

.search-bar {
	flex: 1;
	max-width: 300px;
	margin: 0 var(--margin-md);

	svg {
		stroke: var(--text-light);
	}

	.search-icon {
		position: absolute;
		margin-left: 12px;
		display: flex;
		align-items: center;
		height: 100%;
	}
	.awesomplete {
		width: 100%;
		--awesomebar-shadow: var(--shadow-2xl);
		input {
			width: 100% !important;
			padding-left: 36px;
			height: 28px;
			@include get_textstyle("sm", "regular");
		}
		input:focus {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			box-shadow: var(--awesomebar-shadow);
			background-color: var(--awesomebar-focus-bg);
		}
		ul {
			border: none;
			border-top: 1px solid var(--border-color);
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			box-shadow: var(--awesomebar-shadow);
		}
		input::placeholder {
			color: var(--text-light);
		}
	}
}

.navbar-modal-wrapper {
	.modal-search-icon {
		position: absolute;
	}

	#navbar-search {
		padding-left: 42px;
	}

	.awesomplete {
		width: 100%;
		ul {
			position: relative;
			background-color: transparent;
			border: none;
			border-radius: unset;
			box-shadow: none;
			margin-top: 12px;
		}
	}

	.modal-divider {
		width: 100%;
		height: 1px;
		background-color: var(--border-color);
		position: absolute;
		top: 40px;
		border-radius: 50%;
	}
}

.cool-awesomebar-modal {
	padding: 10px 18px !important;
}

.awesomebar-modal-footer {
	font-size: 12px;
	.help-navigation {
		.help-item-navigate {
			margin-right: 1rem;
		}
		.help-item {
			background-color: var(--border-color);
			padding: 2px;
			margin-right: 0.25rem;
			border-radius: 4px;
		}
	}
}

.navbar.bg-dark {
	.dropdown-menu {
		font-size: 0.75rem;
		background-color: $dark;
		border-radius: 0;
	}

	.nav-link {
		white-space: nowrap;
		color: $light;

		&:hover {
			color: $primary;
		}
	}

	.nav-item {
		padding: 0rem 1rem;
		@extend .my-auto;
	}
}
