// clean-this-file
:root {
	--sidebar-hover-color: #f3f3f3;
	--sidebar-active-color: rgba(255, 255, 255, 1);
	--sidebar-border-color: #ededed;
	--surface-modal: rgba(255, 255, 255, 1);
	--divider-color: rgba(237, 237, 237, 1);
	--sidebar-width: 220px;
}
[data-theme="dark"] {
	--sidebar-hover-color: rgba(43, 43, 43, 1);
	--sidebar-active-color: rgba(66, 66, 66, 1);
	--sidebar-border-color: #232323;
	--surface-modal: rgb(0, 0, 0);
	--divider-color: rgba(52, 52, 52, 1);
}

// sidebar-item states
@mixin hover-mixin {
	background-color: var(--sidebar-hover-color);
	border-radius: 8px;
	text-decoration: none;
}

@mixin truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.body-sidebar-container {
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: fit-content;

	.body-sidebar-placeholder {
		display: none;
		width: 50px;
		height: 100vh;
	}
}

.body-sidebar {
	width: 50px;
	background: var(--subtle-accent);
	border-right: 1px solid var(--sidebar-border-color);
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	// @include transition(all, 0.3s ,cubic-bezier(0.4, 0, 0.2, 1));

	display: flex;
	flex-direction: column;
	height: 100vh;
	z-index: 1030;
	padding: 8px 8px 10px 8px;

	.body-sidebar-top {
		flex: 1 1;
		padding: 1px;
		width: auto;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: nowrap;

		gap: 2px;
		overflow: hidden;
		position: static;
		font-size: var(--text-base);
		@include transition(all, 0.3s, cubic-bezier(0.4, 0, 0.2, 1));
		// transition: width 200ms;
		.sidebar-items {
			&:first-child {
				margin-top: 14px;
			}
			width: 100%;
			@include transition(all, 0.3s, cubic-bezier(0.4, 0, 0.2, 1));
		}
	}

	.body-sidebar-bottom {
		overflow: hidden;
		padding: 7px;
		width: 100%;
		// position: relative;
		// top:10px;
	}

	.divider {
		margin: var(--margin-xs) 0;
		border-top: 1px solid var(--gray-300);
		width: 100%;
	}

	.standard-sidebar-item {
		display: flex;
		@include transition(all, 0.3s, cubic-bezier(0.4, 0, 0.2, 1));

		margin-bottom: 1px;
		.sidebar-item-control {
			.drop-icon {
				width: 28px;
				height: 28px;
				text-align: center;
			}
		}

		&:not(.active-sidebar) > a:not(.section-break):hover {
			@include hover-mixin();
		}

		.sidebar-item-label {
			@include truncate();
			font-size: var(--text-sm);
			display: flex;
			align-items: center;
			@include transition(all, 0.3s, cubic-bezier(0.4, 0, 0.2, 1));
		}
		.item-anchor {
			@include truncate();
			display: flex;
			gap: 5px;
			align-items: center;
			// padding: 3px 0px 3px 11px;
			flex: 1;
			height: 30px;
			color: var(--ink-gray-7);
			text-decoration: none;
			@include transition(all, 0.3s, cubic-bezier(0.4, 0, 0.2, 1));
			.sidebar-item-icon {
				padding: 7px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.collapse-sidebar-link {
		text-decoration: none;
		font-size: var(--text-sm);
		display: flex;
		align-items: center;
		svg {
			margin: 0px;
			flex: 0 0 auto;
		}
		span {
			margin-left: 8px;
			@include truncate();
		}
		@include transition(all, 0.3s, cubic-bezier(0.4, 0, 0.2, 1));
	}

	.sidebar-item-container {
		/* nested container */
		.sidebar-item-container {
			.standard-sidebar-item {
				justify-content: start;
			}
		}
	}
}

@mixin body-sidebar-expanded {
	.body-sidebar {
		// make it an overlay on hover
		position: absolute;
		width: var(--sidebar-width);
	}

	// show placeholder so that main section remains static
	.body-sidebar-placeholder {
		display: flex;
		width: var(--sidebar-width);
	}
}

.body-sidebar-container.expanded {
	@include body-sidebar-expanded();
}

@include media-breakpoint-down(sm) {
	// body sidebar hidded in mobile view
	.body-sidebar-container {
		.body-sidebar {
			padding: 0px;
			width: 0px;
			overflow: hidden;
		}
	}

	// expands when navbar-brand is clicked
	.body-sidebar-container.expanded {
		position: relative;
		.body-sidebar {
			padding: 8px 8px 10px 8px;
			width: var(--sidebar-width);
			height: 100%;
			position: absolute;
			bottom: 0;
			top: 0;
		}
		.overlay {
			display: block;
			position: absolute;
			width: calc(100vw - var(--sidebar-width));
			height: 100%;
			z-index: 1021;
			left: var(--sidebar-width);
			overflow: auto;
			background-color: rgba(128, 128, 128, 0.5);
		}

		// acts a overlay when in mobile view
		.body-sidebar-placeholder {
			display: flex;
			width: 0px;
		}
	}
}

.hover {
	@include hover-mixin();
}

.active-sidebar {
	background: var(--sidebar-active-color);
	box-shadow: var(--shadow-sm);
	border-radius: 8px;
	:hover {
		text-decoration: none;
	}
}

.overlay {
	display: none;
}
.section-break {
	flex: 0 0 auto !important;
	color: var(--ink-gray-5) !important;
	margin-left: 7px;
}
.section-item {
	margin-top: 5px;
	.standard-sidebar-item {
		align-items: center;
	}
}
