.desktop-container{
    max-width: 100px;
}
.icons{
	gap: 30px;
	display: grid;
	justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}
.d-icon{
    stroke: white;
}
.desktop-icon{
    display: flex;
    height: 100px;
    width: 100px;
    flex-direction: column;
    align-items: center;
}
.icon-container{
    padding: 10px;
    border: black solid 0px;
}
.icon-container:hover{
	transform: scale(1.05);
    transition: transform 0.1s;
}
