.container{
    padding: 0px;
}
.desktop-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
#navbar-search{
    padding-left: 32px;
}
.desktop-search-icon{
    position: absolute;
    left: 6px;
    top: 2px;
}
.navbar-container{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    width: 100%; /* Allow it to span the full container */
    max-width: 600px; /* Match icon grid width if needed */
    padding: 0 15px; /* Add padding if needed */
    box-sizing: border-box;
}
.search-container{
    display: flex;
    justify-content: center;
}
.desktop-search-wrapper{
    max-width: 300px;
	margin: 0 var(--margin-md);
    position: relative;
}
.icon-stroke{
    stroke-width: 1.5px;
}
.icons{
	gap: 30px;
	display: grid;
	justify-items: center;
    margin-top: 50px;
    grid-template-columns: repeat(5, 1fr);
}
.desktop-icon{
    display: flex;
    height: 100px;
    width: 100px;
    flex-direction: column;
    align-items: center;

}
.icon-container:has(img) {
    padding: 0;
}
.icon-container img{
    width: 60px;
    height: 60px;
}
.icon-container{
    padding: 10px;
    border: var(--gray-400) solid 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container:hover{
	transform: scale(1.05);
    transition: transform 0.1s;
}
.icon-label{
    text-align: center;
    text-wrap: nowrap;
    margin-top: 5px;
}
.timeless-style{
    width: 100vw;
    max-width: 600px;
}
.timeless-style input::placeholder{
    text-align: center;
}
.apps-search{
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
.small-margin{
    margin-top: 30px;
}