.desktop-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.icon-stroke{
    stroke-width: 1.5px;
}
.icons{
	gap: 30px;
	display: grid;
	justify-items: center;
    margin-top: 50px;
    grid-template-columns: repeat(5, 1fr);
}
.desktop-icon{
    display: flex;
    height: 100px;
    width: 100px;
    flex-direction: column;
    align-items: center;

}
.icon-container:has(img) {
    padding: 0;
}
.icon-container img{
    width: 60px;
    height: 60px;
}
.icon-container{
    padding: 10px;
    border: var(--gray-400) solid 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container:hover{
	transform: scale(1.05);
    transition: transform 0.1s;
}
.icon-label{
    text-align: center;
    text-wrap: nowrap;
    margin-top: 5px;
}