.icons{
	gap: 30px;
	display: grid;
	justify-items: center;
    margin-top: 50px;
    grid-template-columns: repeat(5, 1fr);
}
.d-icon{
    stroke: white;
}
.desktop-icon{
    display: flex;
    height: 100px;
    width: 100px;
    flex-direction: column;
    align-items: center;
}
.icon-container{
    padding: 10px;
    border: black solid 0px;
    border-radius: 10px;
}
.icon-container:hover{
	transform: scale(1.05);
    transition: transform 0.1s;
}
.icon-label{
    text-align: center;
    text-wrap: nowrap;
    margin-top: 5px;
}
